@font-face {
  font-family: "PangMenZhengDao";
  src: url("/fonts/PangMenZhengDao.woff2") format("woff2"),
       url("/fonts/PangMenZhengDao.woff") format("woff"),
       url("/fonts/PangMenZhengDao.ttf") format("truetype"),
       url("/fonts/PangMenZhengDao.eot") format("embedded-opentype"),
       url("/fonts/PangMenZhengDao.svg") format("svg");

}
.PangMenZhengDao{font-family: PangMenZhengDao;}
.OPPOSans-B{font-family: OPPOSans-B;}
.OPPOSans-M{font-family: OPPOSans-M;}
.OPPOSans-R{font-family: OPPOSans-R;}
